.settings-view .settings-panel label {
  color: @theme-color-black;
}

.overlay, atom-panel.modal {
  background-color: @theme-color-white;

  .grammar-selector {
    color: @theme-color-black;
  }

  .tree-view-dialog {
    color: @theme-color-black;
  }

  atom-text-editor[mini] {
    border: 1px solid @theme-color-blue !important;
  }
}

.settings-view .panels .btn.selected {
  background-color: @theme-color-blue;
}
