
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  color: @app-background-color;
  border-top: 2px solid @status-bar-background-color;
  background-color: @status-bar-background-color;

  .icon:before {
    font-size: @font-size;
    top: 0px;
  }

  a {
    color: @app-background-color;
  }

  a:hover {
   color: @background-color-selected;
 }
}

.cursor-position{
  .inline-block {
    color: @app-background-color;
  }

  .inline-block:hover {
    color: @background-color-selected;
  }
}
